# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
node_modules

# dist files
dist/*.js
dist/*.js.map

# GitHub Pages build directory
_site

.vscode